* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    background-color: #c4d1db;
    overflow:hidden ;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #c4d1db;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    .wrapper {
        height: 92.2vh !important;
    } 
}
.main-container {
    width: 500px;
}
@media (max-width:767px) {
    .main-container {
        width: 90%;
    }
}
.main-container .first-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-container h3 {
    color: #2196F3;
    font-weight: 800;
    font-size: 19px;
}
.first-container h4 {
    color: #b1d209;
    font-weight: 600;
    font-size: 16px
}
.first-container p {
    font-size: 13px;
    color: #b1b1b1;
    line-height: 1.8;
    font-weight: 700
}
.offers {
    display: flex;
    /* gap: 10px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
@media (max-width:767px ) {
    .offers {
        flex-direction: column;
    }
}
.main-container .second-container {
    padding: 20px;
    width: 50%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: #2BB4B1;
    color: white;
    padding: 15px;
}
@media (max-width:767px) {
    .second-container {
        width: 100% !important;
    }
}
.second-container .price {
    display: inline-flex;
    margin-top: 10px;
}
.price span {
    font-size: 15px;
    color: #ffffffbd;
    margin: 8px;
}
.second-container p {
    font-size: 14px;
    color: #ffffffc7;
}
.second-container input {
    padding: 8px 70px;
    border: none;
    color: white;
    background-color: #b1d209;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 13px;
}
.main-container .third-container {
    display: flex;
    flex-direction: column;
    background-color: #49BEBD;
   width: 50%;
    color: white;
    padding: 15px;
}
@media (max-width:767px) {
    .third-container {
        width: 100% !important;
    }
}
.third-container p {
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff8f;
}
